
.xray {
	* {
		border: 1px solid;
		padding: 2px;
		margin: 2px;
		color: #CC66FF;
	}

	:nth-child(2n) { color: #CCFF66}
	:nth-child(3n) { color: #66FFFF}
	:nth-child(4n) { color: #6666FF}
	:nth-child(5n) { color: #CC66FF}
}