@emch: 1.666667;
@chratio: 0.6;

@import 'util.less';

:root {
	--link-color: #69b8e0;
	--logo-color: #69b8e0;
}

.Logo {
	display: inline-block;
	vertical-align: top;
	svg { vertical-align: top; }
}

.Logo svg g {
	fill: var(--logo-color);
}



// Resets
html,body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

html {
	font-size: 10px;
	line-height: 1.43rem;
}

body {
	// font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    font-size: 13px;
    line-height: 17px;
    -webkit-text-size-adjust: 100%;
    cursor: default;
    overflow: auto;
    font-size: 10px;
    background: white;
}

iframe {
	border: 0px;
}

a:focus {
	outline: none;
}


nav,aside,section,article,header,footer,div,ul,li,ol,pre,button,main,input,button,textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,li,ol {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

pre {
	margin: 0;
}

button {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	outline: none;
}

nav a { color: inherit; }
nav i { font-style: inherit; }

footer {
	text-align: center;
	padding: 20px;
}

.grow { 
	flex: 1 1 0;
}

// @import "scrimbla.less";
@import 'scrimbla/scrimbla.less';

@import 'markdown.less';


.light {
	.light-syntax;
	code {
		color: #3a4652;
	}
}

.dark {
	.dark-syntax;
	code {
		color: #FBFBFB;
	}
}

.toc-anchor {
	position: relative;
	top: -110px;
	opacity: 0;
	display: block;
	visibility: hidden;
}




@import "site/header.less";
@import "site/nav.less";
@import "site/page.less";
@import "site/snippet.less";
@import "site/home.less";
@import "site/issues.less";
@import "site/playground.less";
@import "site/gist.less";
@import "guide.less";
@import "site/mobile.less";
@import 'examples.less';
@import 'footer.less';

