.DS_Store
node_modules
tmp
test/perf
npm-debug.log
www/client.js
www/sandbox.js
docs/gists/
# Local Netlify folder
.netlify

www/index.html
www/dist

public/index.js
public/sw.js
public/content.json.js
