@import "../util.less";


#hero {
	position: relative;
	background-color: #202B31;
	width: 100%;
	padding-top: @header-height;
	overflow: hidden;
	min-height: 360px;
	.util-vbox(center, center);
	// transform: translate3d(0,0,0);

	& > .gradient {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: linear-gradient(rgb(32, 43, 49),rgba(32, 43, 49, 0));
	}

	._snippet {
		position: relative;
		margin-bottom: 0px;
		background: linear-gradient(rgb(32, 43, 49),rgba(32, 43, 49, 0));
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		background: transparent;
		transform: translate3d(0px,0px,0px);
		-webkit-font-smoothing: antialiased;
		// padding-top: 40px;

		& > .main {
			flex: 0;
			min-width: 200px;
			width: auto;
			margin: 0 auto;
			padding: 0;
			font-size: 18px;
			line-height: 23px;
			font-weight: 500;
			overflow: visible;
			align-self: center;
			text-align: left;
			& > .header { display: none; }
			display: inline-block;
		}

		& > .inspector {
			position: relative;
			background: transparent;
			align-self: center;
			width: 100%;
			height: 80px;
			flex: 0 0 auto;
		}

		display: block;
		text-align: center;
	}

	.playground {
		.util-hbox(center, center);
		font-size: 12px;
		// should move these to a general place
		a {
			display: inline-block;
			background: #75aaff;
			padding: 0.6rem 1.8rem;
			text-transform: uppercase;
			color: #232933;
			font-weight: 500;
			font-size: 1.2em;
			margin: 0.5rem;
			border-radius: 3rem;
			border: 1px solid #709CB2;
			background: rgba(32, 43, 49, 0.68);
			color: #709CB2;

			&:hover {
				text-decoration: none;
				color: #A0D0E8;
				border-color: #A0D0E8;
				background: rgba(32, 43, 49, 0.8);
			}
		}

		a._star {
			background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
			border: 1px solid #fff;
			color: #333;
			text-shadow: 0 1px 0 #fff;

			&:hover {
				background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
			}
		}

		a.main {
			background: rgba(112, 156, 178, 0.88);
			color: fade(white,96%);

			&:hover {
				background: #78ADC7;
				color: white;
			}
		}

		div {
			text-align: center;
		}
	}
}

._home {
	._pattern {
		.dark-colors;

		font-family: @monofont;
		// font-family: monospace;
		position: absolute;
		border: none;
		opacity: 1;
		
		transform-style: preserve-3d;
		perspective: 800px;
		// .string { color: #709CB2; }

		font-size: 14px;
		line-height: 24px;
		top: 62px;
		overflow: hidden;
		width: 100%;
		left: 0px;
		top: 0px;

		& > div {
			transform-origin: 50% 0%;
			transform: rotateX(30deg);
			transform-style: preserve-3d;
			backface-visibility: hidden;
			opacity: 0.24;
		}

		b,em,i,u {
			display: inline;
			font-style: normal;
			font-weight: normal;
			text-decoration: none;
		}

		u {
			color: desaturate(@tag,20%);
		}

		em {
			color: desaturate(@identifier,20%);
		}

		i {
			color: desaturate(@keyword,20%);
		}

		.line {
			position: relative;
			left: 50%;
			display: block;
			text-align: center;
			white-space: nowrap;
			width: 100%;
			width: 1400px;
			left: 50%;
			transform: translate(-50%,0px);
			background: rgb(32, 43, 49);
		}
		
	}

	a.button {
		display: inline-block;
		background: #75aaff;
		padding: 1rem 2rem;
		text-transform: uppercase;
		color: #232933;
		font-weight: bold;
		font-size: 1.4em;
		margin: 0.5rem;
		border-radius: 3rem;
		border: 2px solid #709CB2;
		background: transparent;
		color: #709CB2;
	}

	a.button.main {
		background: #709CB2;
		color: white;
	}

	& > .body {
		margin: 0px auto 0px;
		padding: 0px;
		width: 100%;
		max-width: 100%;

		& > .content {
			width: @page-width;
			max-width: 100%;
			padding: 2rem;
			margin: 0 auto;
		}
	}

	#footer {
		min-height: 80px;
	}

	.content > ._snippet {
		margin-left: 2rem;
		margin-right: 2rem;

		.dark-colors;
		background: white;
		
		& > .main {
			& > .view, & > .jsview {
				padding: 1.5rem 2rem 2rem;
				background: #EFF2F5;
				background: @codebg;
			}
		}
	}

	.section {
		position: relative;
		padding: 3rem 2rem;
		p { color: #75818E; }
	}

	.large {
		text-align: center;
		p { font-size: 1.6em; }
	}

	.welcome {
		h1 {
			.light-colors;
			color: @keyword;
			text-align: center;
			font-size: 4em;
			max-width: 800px;
			margin-left: auto !important;
			margin-right: auto !important;
		}

		hr {
			margin: 3rem 0;
			display: block;
			border: none;
			height: 2px;
			background: fade(#75818E,10%);
		}

		ul {
			display: flex;
			flex-wrap: wrap;

			h2 {
				margin: 0;
				font-size: 20px;
			}
			p {
				font-size: inherit;
				// padding-left: 2rem;
				font-size: 16px;
				margin-top: 0;
			}

			li {
				width: 100%;
				flex: 1 1 30%;
				padding: 0rem 1rem 1rem;
				min-width: 200px;
				max-width: 400px;
				&:before { display: none; }
			}
		}
	}

	.md {
		p { font-size: 16px; }
		& > h1,
		& > h2,
		& > h3,
		& > p {
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	.bullets {
		ul {
			display: flex;
			flex-wrap: wrap;

			h2 {
				margin: 0;
				font-size: 20px;
			}
			p {
				font-size: inherit;
				font-size: 16px;
				margin-top: 0;
			}

			li {
				width: 30%;
				flex: 1 1 30%;
				padding: 0rem 1rem 1rem;
				min-width: 200px;
				max-width: 410px;
			}
		}
	}
}

._home.scoped ~ footer {
	width: @page-width;
	max-width: 100%;
	padding: 2rem;
	margin: 0 auto;
}