
._issues {
	.legend {
		color: #76828F;
		& > div {
			display: inline-block;
		}
	}

	._nav-issue {
		border-top: 1px solid #F3F5F7;
		padding: 6px 8px;

		.title {
			font-weight: bold;
		}

		&.scoped {
			background: #F3F5F7;
		}
	}
}

._issue {
	& > .head {
		h1 { margin: 0; }
		.legend {
			font-size: 14px;
		}
		border-bottom: 2px solid #F3F5F7;
		padding-bottom: 8px;
	}
}