:root {
	--code-color: #e3e3e3;
	
	--code-identifier: #9dcbeb;
	--code-constant: #c1a5d6;

	--code-background: #282c34;
	--code-bg-lighter: #29313f;
	--code-comment: #718096;
	--code-keyword: #e88376;
	--code-operator: #e88376;
	--code-numeric: #63b3ed;
	--code-boolean: #4299e1;
	--code-null: #4299e1;
	--code-entity: #8ab9ff;
	--code-string: #77b3d1; /* #c6f6d5; */
	--code-entity: #8ab9ff;
	--code-regexp: #e9e19b;
	--code-this: #63b3ed;
	--code-tag: #e9e19b;
	--code-tag-reference: #ffae86;
	--code-tag-angle: #9d9755;
	--code-type: #718096;
	--code-property: #F7FAFC;

	--code-variable: #e8e6cb;
	--code-root-variable: #c5badc;
	--code-root-variable: #e8e6cb;
	--code-font: "Source Code Pro", Consolas, Menlo, Monaco, Courier, monospace;
}

.light {
	--code-color: #556166;
	--code-base: hsl(45, 11%, 34%);
	--code-constant: #6c438a;
	--code-identifier: hsl(34, 28%, 31%);

	--code-background: #282c34;
	--code-bg-lighter: #f6f6f6;
	--code-comment: #718096;
	--code-keyword: hsl(204, 90%, 37%);
	--code-operator: var(--code-base);
	--code-numeric: #63b3ed;
	--code-boolean: #4299e1;
	--code-null: #4299e1;
	--code-variable: #2f6863;
	--code-string: hsl(41, 37%, 45%);
	--code-entity: #002968;
	--code-regexp: #e9e19b;
	--code-this: #0067b2;
	--code-tag: hsl(19, 67%, 45%);
	--code-tag-angle: hsla(19, 67%, 45%,70%);
	--code-type: #718096;
	--code-property: var(--code-base);
	--code-root-variable: #453c58;
}

.code {
	font-family: var(--code-font);
	color: var(--code-color);
	tab-size: 4;
}

.code-inline {
	display: inline-block;
	font-size: 0.75em;
	border-radius: 3px;
	background: hsla(210, 7%, 31%, 0.06);
	-webkit-box-decoration-break: clone;
	vertical-align: middle;
	padding: 0.1em 5px;
	margin: -0.1em 0px;
}


.code .invalid { color: red; }
.code .comment { color: var(--code-comment); }
.code .regexp { color: var(--code-regexp); }
.code .tag { color: var(--code-tag); }
.code .type { color: var(--code-type); }
.code .entity.name.type { color: var(--code-entity); }
.code .keyword,.code .argparam {color: var(--code-keyword);font-weight: 600;}
.code .operator { color: var(--code-operator); }
.code .property { color: var(--code-property); }
.code .numeric,.code .number { color: var(--code-numeric); }
.code .boolean { color: var(--code-boolean); }
.code .null { color: var(--code-null); }
.code .identifier { color: var(--code-identifier); }
.code .variable, .view-lines .variable { color: var(--code-variable); }
.code .string { color: var(--code-string); }
.code .propname { color: var(--code-entity); }
.code .this,.code .self { color: var(--code-this); }
.code .constant { color: var(--code-constant); }
.code .tag.reference {color: var(--code-tag-reference);}
.code .tag.open,.code .tag.close { color: var(--code-tag-angle); }
.code .variable.scope_root { color: var(--code-root-variable); }